{% extends "base.html" %}

{% block titile %}
    cmdb_terminal_v1
{% endblock %}

{% block style %}
    <script src="/static/vendor/gateone/gateone.js"></script>
{#    <script src="/static/vendor/jquery/jquery.min.js"></script>#}
{% endblock %}

{% block label %}
    CMDB Terminal V1
{% endblock %}

{% block content %}
    <div class="row" style="color: black">
        <div id="gateone_container" style="position: relative;width: 60em;height: 30em">
            <div id="gateone" >

            </div>
        </div>
    </div>
    <script>
        window.onLoad(
            GateOne.init(
                {
                    url:"https://192.168.1.104:443"
                }
            )
        )
    </script>
{% endblock %}